{% extends 'base.html' %}

{% block title %}Budgets - Talon Expense Tracker{% endblock title %}

{% block content %}
<h2>Budgets</h2>
<a href="{% url 'core:budget_create' %}" class="btn btn-primary mb-3">+ Add Budget</a>
<form method="get" class="d-flex align-items-center mb-3">
    <div class="me-3">{% include "core/_person_field.html" %}</div>
    <button type="submit" class="btn btn-primary">Filter</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Category</th>
            <th>Owner</th>
            <th>Budget Defined</th>
            <th>Value Spent</th>
            <th>Budget Available</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for budget in budgets %}
        <tr>
            <td>{{ budget.category }}</td>
            <td>{{ budget.user }}</td>
            <td>{{ budget.amount|floatformat:2 }}</td>
            <td>{{ budget.value_spent|floatformat:2 }}</td>
            <td>{{ budget.budget_available|floatformat:2 }}</td>
            <td>{{ budget.start_date }}</td>
            <td>{{ budget.end_date }}</td>
            <td>
                <a href="{% url 'core:budget_update' budget.id %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'core:budget_delete' budget.id %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="8">No budgets found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
