{% extends 'base.html' %}

{% block title %}Incomes - Talon Expense Tracker{% endblock title %}

{% block content %}
<h2>Incomes</h2>
<div class="d-flex align-items-center mb-3">
    <a href="{% url 'core:income_create' %}" class="btn btn-primary">+ Add Income</a>
    {% include "core/_person_filter.html" %}
</div>
<table class="table mt-3">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Source of Income</th>
            <th>Date of Credit</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for income in object_list %}
        <tr>
            <td>${{ income.amount|floatformat:2 }}</td>
            <td>{{ income.description|default_if_none:"" }}</td>
            <td>{{ income.date }}</td>
            <td>
                <a href="{% url 'core:income_update' income.pk %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'core:income_delete' income.pk %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No incomes found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
