{% extends "base.html" %}
{% block title %}Talon Expense Tracker{% endblock title %}
{% block content %}
<br>
<br>
    <h2>Welcome to Talon Expense Tracker</h2>
    <p class="lead" style="text-align: center;">
        <br>
        <br>
        This is a project created in the Python Project Development class at Wake Technical Community College.
        The Expense Tracker project is a web application designed to help users efficiently manage their personal finances.
        It allows users to track their expenses, set budgets, and manage their savings goals.
        Built using Python and the Django framework, the application provides a simple and intuitive platform for users to log their income and expenses,
        categorize transactions, set budgets, and track savings goals.
        <br>
        <br>
        <a href="{% url 'accounts:signup' %}">Sign Up</a> or <a href="{% url 'accounts:login' %}">Log In</a>
    </p>
{% endblock %}